/* === Base Styling === */
body {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "width" 10;
  overscroll-behavior: none;

  /* Firefox scrollbar styling (global) */
  scrollbar-width: none;
  scrollbar-color: #383387 #ffffff;
}

@keyframes l5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 60px;
    height: 60px;
  }
  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 60px;
    height: 60px;
  }
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}

/* === Optional Vertical Scrollbar Styling Globally (WebKit) === */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #383387;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2e2a70;
}

.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: #f3f4f6; border-radius: 9999px; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: linear-gradient(180deg,#60a5fa,#2563eb); border-radius: 9999px; }
/* Firefox */
.custom-scrollbar { scrollbar-width: thin; scrollbar-color: #2563eb #f3f4f6; }
